@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
/* @import url("https://use.typekit.net/kdf4djh.css"); */

:root {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;

  /* font-family: "cronos-pro", sans-serif;
  font-weight: 700;
  font-style: normal; */
}